.owl-prev{
  left: -30px;
}

.owl-next{
  right: -30px;
}

.owl-prev, .owl-next{
  position: absolute;
  top: 30%;
}

.owl-prev span, .owl-next span{
  font-size: 3rem;
  color: #777777;
}

.owl-theme .owl-nav [class*="owl-"]:hover{
  background-color: transparent;
}
